<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <ul>
        <li><strong><a href="/logout">Logout</a></strong></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('car_index') }}">Cars</a></li>
        <li><a href="{{ path('client_index') }}">Clients</a></li>
        <li><a href="{{ path('driver_index') }}">Drivers</a></li>
        <li><a href="{{ path('trip_index') }}">Trips</a></li>
    </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
